@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<address>
    402 Market St<br />
    Parkersburg, WV 26101<br />
    <abbr title="Phone">Phone Number:</abbr>
    (304) 428-5680
</address>

