@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(http://stmedia.stimg.co/ctyp_crystalcafe.jpg?w=800); padding:150px">
    <!--<h1 style="color:red">Crystal Cafe</h1>-->
    <p class="lead" style="color:red">Delicious Breakfast, Brunch, and Lunch.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Menu</h2>
        <p>Come take a look at our delicious menu consisting of hamburgers, eggs, and much more!</p>
        <button type="button" href="/menu" id="menu">Menu</button>
        
    </div>
    <div class="col-md-4">
        <h2>Crystal</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Cafe</h2>
        
    </div>
</div>