
@{
    ViewBag.Title = "NonValidRoleMessage";
}

<h2>Authorization of Role Failed</h2>


<p>
    Sorry you are not authorized to perform this action! Please Contact Us if you believe this to be inaccurate.
</p>
